# Virtual Environment
venv/
env/

# Secret Files
credentials.json
.env
*.env

../original_index.html
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo